<?xml version='1.0' encoding='utf-8'?>
<widget id="com.htc.cs.hackday.reborn" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Reborn</name>
    <description>
        2014 HTC Creative Labs Hack Day - Reborn.
    </description>
    <author email="joec_wu@htc.com" href="http://cordova.io">
        HTC Creative Labs - Reborn team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="BackgroundColor" value="0x000000"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <access origin="*" />
    <feature name="Insomnia">
      <param name="android-package" value="nl.xservices.plugins.Insomnia" />
    </feature>
</widget>
