<?xml version='1.0' encoding='utf-8'?>
<widget id="com.htc.cs.hackday.reborn" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Reborn</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="BackgroundColor" value="0x000000"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
</widget>
