/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
/*    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

#pHome {
    background-image: none;
    background-color: #000000;
}

#pBlinkfeed {
    background-image: none;
    background-color: #000000;
}

#pCalendar {
    background-image: none;
    background-color: #000000;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:100px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.bf_main {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 15px;
}

.bf_bf {
    position: fixed;
    font-size: 36px;
    font-weight: bold;
    left: 0px;
    right: 0px;
    padding: 5px 35px;
    top: 20px;
    z-index: 20;
    color: white;
    background-color: green;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
    text-transform:uppercase;
}

.bf_title {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 20px;
    margin: 15px;
    padding: 0 20px 0 20px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    z-index: 20;    
    background-color: white;
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}

.bf_image {
    width: 100%;
    height: 100%;
    min-height: 100%; 
    left: 0;
    top: 0;
    background-size: 100%;
    z-index: 10;
}

.bf_icon {
    position: fixed;
    left: 15px;
    width: 20px;
    height: 20px;
    bottom: 15px;
    margin: 0 0 0 20px;
    font-size: 36px;
    z-index: 30;
    background-size: 100%;
}

.bf_source {
    position: fixed;
    left: 15px;
    right: 0px;
    bottom: 15px;
    padding: 2px 10px 2px 45px;
    /*margin: 0 0 0 35px;*/
    font-size: 14px;
    font-weight: normal;
    color: white;
    z-index: 20;    
    background-color: black;
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}


.main_title {
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.main_title p.title_htc {
    color: #22FF44;
    font-size:22px;
    font-weight:bold;
    text-shadow: none;
    margin: 0 5px;
    padding: 0;
    display: inline;
}

.main_title p.title_reborn {
    font-family: 'Ubuntu', Arial, sans-serif;
    color: #AA0033;
    font-size:16px;
    text-shadow: none;
    margin: 0;
    padding: 0;
    display: inline;
}

div.clockWrap {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 15px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display:table;
}

div.clockMain {
    display:table-cell;
    font-family: 'Ubuntu', Arial, sans-serif;
    text-shadow: none;
    font-size: 25px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    vertical-align: middle;
    text-align: center;
}

div.clockMain a {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

    div.clockMain a:hover {
        text-decoration: underline;
    }

div.clockMain div.date {
    color: #666;
    font-size: 1.5em;
    margin: 8px 0;
}

div.clockMain div.time {
    font-size: 3em;
    font-weight: 200;
}

div.clockMain div.time span {

    border-radius: 5px;
    padding: 1px 4px 3px 4px;
    color: #fff;

    /* fallback */
    background: #000;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#000));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #555, #000);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #555, #000);
    /* IE 10 */
    background: -ms-linear-gradient(top, #555, #000);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #555, #000);
}

div.clockMain div.time strong {
    font-weight: 100;
    font-size: 1em;
    margin-left: 5px;
    color: #666;
}

div.calendar_image {
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100%; 
    left: 0;
    top: 0;
    z-index: 10;
    background: url('../img/fake_calendar.png') no-repeat center ;
}

div.hasDatepicker {
    position: fixed;
    left: 95px;
    top: 10px;
    right: 50px;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 24px;
    
}

div.n_main {
    position: fixed;
    width: 80%;
    height: 70%;
    left: 10%;
    top: 15%;
    right: 10%;
    z-index: 888;
    background-color: #FFFF99;

    border-radius: 15px;

    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
}

div.n_content {
    position: fixed;
    width: 78%;
    height: 66%;
    left: 11%;
    top: 17%;
    right: 10%;
    z-index: 999;
    background-color: #FFFF00;
    padding: 10x;
    border-radius: 15px;

    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
}

.n_line {
    display: none;
}

.n_title {
    font-size: 60px;
    font-weight: bold;
    margin: 5px;
}

.n_icon {
    width: 50px;
    margin: 0 10px 0 20px;
    display: inline;
    vertical-align: middle;
}

.n_subtitle {
    font-size: 30px;
    font-weight: bold;
    display: inline;
    vertical-align: middle;
}
.n_msg {
    font-size: 30px;
    display: inline;
    vertical-align: middle;
}

.n_main_call {
    position: fixed;
    width: 80%;
    height: 70%;
    left: 10%;
    top: 15%;
    right: 10%;
    z-index: 888;
    background-color: #006600;

    border-radius: 15px;

}

.n_content_call {
    position: fixed;
    width: 78%;
    height: 66%;
    left: 11%;
    top: 17%;
    right: 10%;
    z-index: 999;
    background-color: #33CC33;
    padding: 10x;
    border-radius: 15px;
}
.n_content_call2 {
    position: fixed;
    width: 78%;
    height: 66%;
    left: 11%;
    top: 17%;
    right: 10%;
    z-index: 999;
    background-color: #66FF66;
    padding: 10x;
    border-radius: 15px;

}

.n_call {
    display: none;
}

.n_title_call {
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

.n_icon_call {
    float: left;
    width: 120px;
    margin: 0 10px 0 25px;
    vertical-align: middle;
    border-radius: 20%;
}

.n_icon_call_ring {
    width: 50px;
    position: fixed;
    bottom: 75px;
    right: 90px;
    z-index: 1000;
}

.n_call_text {
    float: left;
}

.n_subtitle_call {
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    text-shadow: none;
}
.n_msg_call {
    font-size: 30px;
    font-weight: normal;
    margin: 20px;
    text-shadow: none;
}


